<top-bar></top-bar>

<h3>List of <b>Socio-Technical Capabilities</b> available on <b>{{sys.name}}</b></h3>
<div class="well" ng-repeat="stc in stcs">
	<table class="table table-hover">
		<h4>STC: <b>{{stc.name}}</b></h4>
		<thead>
			<tr>
				<th class="col-md-2">Contributor</th>
				<th class="col-md-4">Justification on the attack</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="attackMode in stc.antecedents | filter:filterSpecifics(stc)">
				<td  class="col-md-2">{{attackMode.ant}}</td>
				<td  class="col-md-4"><pre ng-repeat="comment in attackMode.comments">{{comment}}</pre></td>
			</tr>
		</tbody>
	</table>
</div>

<h3 ng-show="atck.analysis.ems.length > 0">Results related to <b>Attacks</b> linked to <b>{{sys.name}}</b></h3>
<div class="well" ng-repeat="atck in sys.atcks" ng-show="atck.analysis.ems.length > 0">
		<attack-description atck="atck" ng-if="atck.description != null"></attack-description>
		<h4>Possible contributors to <b>{{atck.name}}</b>:</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-2">Error Mode</th>
					<th class="col-md-1" style="text-align: center">Completed</th>
					<th class="col-md-9">Antecedents</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="em in atck.analysis.ems" ng-if="em.em != null">
					<td class="col-md-2"><b>{{em.category}} - {{em.em}}</b></td>
					<td  class="col-md-1" style="text-align: center"><div ng-show="em.completed"><span class="glyphicon glyphicon-ok"></div>
						<div ng-show="!em.completed"><span class="glyphicon glyphicon-flash"></div>
					</td>
					<td class="col-md-9">
			<accordion close-others="false">
				<accordion-group ng-repeat="antecedent in em.antecedents" is-open="isOpenA(antecedent)" is-disabled="true">
					<accordion-heading>
						<b>{{antecedent.category}}</b>: {{antecedent.em}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</accordion-heading>
					<form name="addForm" role="form">
						<div class="form-group">
							<label for="comment">Justification</label>
							<pre>{{antecedent.comment}}</pre>
					</form>
				</accordion-group>
			</accordion>
			</td>

			</tr>

			</tbody>
		</table>
</div>
						


	<script type="text/ng-template" id="warningModalNoDesc">
        <div class="modal-header">
		<h3 class="modal-title">Please describe the system prior to the analysis.</h3>
	<br>
		<button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
        </div>
	</script>
