<top-bar></top-bar>

<h3>Repository of Socio-Technical Capabilities</h3>
<!-- ST list -->
<div class="well">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Creation date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="stc in stcs">
				<td>{{stc.name}}</td>
				<td>{{stc.desc}}</td>
				<td>{{stc.date| date:'MM/dd/yyyy @ h:mma'}}</td>
				<td><button type="button" class="btn btn-danger" ng-really-message="Are you sure?" ng-really-click="deleteStc(stc)">Delete</button></td>
				<td><button type="button" class="btn btn-primary" ng-click='selectAction(stc, "viewSTCAttacks")'>Manage Attacks</button></td>
				<td><button type="button" class="btn btn-success" ng-click='selectAction(stc, "viewSTCAMs")'>View Attack Modes</button></td>
			</tr>
		</tbody>
	</table>
</div>

<h3>Create new Socio-Technical Capability</h3>
<!-- Analysis input -->
<div class="well">
	<form name="addForm" role="form" ng-submit="addStc(stc)">
		<div class="row">

			<div class="form-group">
				<label for="stcName">Name of the new security capability</label>
				<div class="alert alert-warning" ng-show="!addForm.nameControl.$valid">
					<span ng-show="addForm.nameControl.$error.required">Required!</span>
					<span ng-show="addForm.nameControl.$error.minlength">Too short!</span>
				</div>
				<input type="text" ng-model="stc.name" name="nameControl" placeholder="Capablity's name" class="form-control" required="required" ng-minlength="3">

				<div class="form-group">
					<label for="stcDesc">Description of the new capability</label>
					<input type="textarea" ng-model="stc.desc" placeholder="Description" class="form-control">
					<input type="hidden" ng-model="stc.date">
				</div>

				<span class="input-group-btn">
					<input type="submit" class="btn btn-primary" value="Create new capability">
				</span>
			</div>
	</form>
</div>
