<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/viewMain"><span class="glyphicon glyphicon-home"></span> SCREAM assistant</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li ng-class="isActiveM('#/viewInvestigation')"><a href="#/viewInvestigation">Investigate Attacks</a></li>
				<li ng-class="isActiveM('#/viewSTC')"><a href="#/viewSTC">Manage ST Capabilities</a></li>
				<li ng-class="isActiveM('#/viewSTTM')"><a href="#/viewSTTM">SCREAM analysis</a></li>
			</ul>
		</div>
	</div>
</nav>


<div class="jumbotron">
	<h2>SCREAM assistant: Root Cause Analysis for Cyber-Security.</h2>      
</div>

<div class='well'>
	<h3>Getting started</h3>
	<p>This tool is built around two main components: The SCREAM analysis tool that is used to investigate known attacks and build attack modes, and the Socio-Technical Threat Modeller (STTM) which aims at using results from past SCREAM analyses to predict new situations.</p>
	<p>If it's the first time that you start the application you need first to take care of your Socio-Technical Capabilities repository by clicking on the following button or by clicking on the 'SCREAM' tab in the navigation bar. <a href="#/viewAttackAnalysis" class="btn-xs btn-primary" role="button">Take me to SCREAM analysis</a> </p>
	<p>Once you performed or imported several SCREAM analyses, you can you the STTM by clicking the following button or selecting 'STTM' in the navigation bar. <a href="#/viewTMAnalysis" class="btn--xs btn-primary" role="button">Take me to the STTM</a></p>
</div>


<div class='well'>
	<h3>Exporting your work.</h3>
	<p>Click <a class="btn--xs btn-primary" role="button" download="export.txt" ng-href="{{ url }}">here</a> to export and save the your work into a text file.</p>
	<p>To import existing exported work choose a file then clikc the import button:</p><input type="file" id="file" name="file"/><a class="btn--xs btn-primary" role="button" ng-click="import()">Import File</a>
	<p>Keep in mind that non exported work will be erased by the file you upload!</p>
</div>

<div>
	<script type="text/ng-template" id="loadingStateModal">
        <div class="modal-header">
		<h3 class="modal-title">The file has been successfully imported.</h3>
	<br>
		<button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
        </div>
	</script>
</div>