<top-bar></top-bar>

<h2>Here are the list of possible antecedents explaining <b>{{atck.name}}</b>.</h2>
<!-- Error Mode list -->
<div class="well">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-2">Error Mode</th>
				<th class="col-md-1" style="text-align: center">Completed</th>
				<th class="col-md-9">Antecedents</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="em in atck.analysis.ems" ng-if="em.em != null">
				<td class="col-md-2">{{em.category}} - {{em.em}}</td>
				<td  class="col-md-1" style="text-align: center"><div ng-show="em.completed"><span class="glyphicon glyphicon-ok"></div>
				    <div ng-show="!em.completed"><span class="glyphicon glyphicon-flash"></div>
				</td>
				<td class="col-md-9">
					<accordion close-others="true">
						<accordion-group ng-repeat="antecedent in em.antecedents" is-open="status.open">
							<accordion-heading>
								<b>{{antecedent.category}}</b>: {{antecedent.em}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							</accordion-heading>
							<form name="addForm" role="form" ng-submit="registerComments(em, antecedent)">
								<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" ng-model="antecedent.comment"></textarea>

								<input type="submit" class="btn btn-primary" value="Register Comment">

							</form>
						</accordion-group>
					</accordion>
					
				</td>
				
			</tr>

		</tbody>
	</table>
</div>
