<top-bar></top-bar>

<h3>List of <b>Attack Modes</b> for the <b>{{stc.name}}</b> capability.</h3>
<!-- Error Mode list -->
<div class="well">
	<form name="specificForm" role="form" ng-submit="registerSpecifics('toto')">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-2">Attack Mode</th>
					<th class="col-md-2">Error Mode</th>
					<th class="col-md-1">Description</th>
					<th class="col-md-6">Comment</th>
					<th class="col-md-1 text-center">Specific</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="attackMode in display| filter:filterSpecifics()">
					<td  class="col-md-2">{{attackMode.ant}}</td>
					<td  class="col-md-2"><div ng-repeat="context in attackMode.modes">{{context[0].category}}-{{context[0].em}}</div></td>
					<td  class="col-md-1"><div ng-repeat="context in attackMode.modes">{{context[1].type}}</div></td>
					<td  class="col-md-6"><div ng-repeat="comment in attackMode.comments">{{comment}}</div></td>
					<td  class="col-md-1 text-center"><input type="checkbox" ng-model="stc.specifics[attackMode.ant]"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" class="btn btn-primary" value="Register Specifics">
	</form>
</div>