<p>Welcome in the SCREAM analysis tool.</p>

<p>Select one of the previous analysis from the list below or create a new one
    by clicking the 'New Analysis' button</p>

<h2>Create new analysis</h2>
<!-- Analysis input -->
<form role="form" ng-submit="addAnalysis()">
    <div class="row">

        <div class="form-group">
            <label for="analysisName">Name of the new security analysis</label>
            <input type="text" ng-model="analysis.name" placeholder="Analysis's name" class="form-control">
        </div>  
        <div class="form-group">
            <label for="analysisDesc">Description of the new analysis</label>
            <input type="textarea" ng-model="analysis.desc" placeholder="Description" class="form-control">
            <input type="hidden" ng-model="analysis.date">
        </div>

        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Create new analysis">
        </span>
    </div>
</form>

<br/>

<h2>List of analyses</h2>
<!-- Analysis list -->
<p class="form-group" ng-repeat="analysis in analyses">

</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Creation date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="analysis in analyses">
            <td>{{analysis.name}}</td>
            <td>{{analysis.desc}}</td>
            <td>{{analysis.date}}</td>
            <td><button type="button" class="btn btn-success" ng-click="selectAnalysis(analysis)">Select</button></td>
            <td><button type="button" class="btn btn-primary" ng-click="exportAnalysis(analysis)">Export</button></td>
            <td><button type="button" class="btn btn-primary" ng-click="importAnalysis(analysis)">Import</button></td>
            <td><button type="button" class="btn btn-danger" ng-really-message="Are you sure?" ng-really-click="deleteAnalysis(analysis)">Delete</button></td>
        </tr>
</tbody>
</table>