<p>Welcome in the SCREAM analysis tool.</p>

<p>Select one of the previous analysis from the list below or create a new one
    by clicking the 'New Analysis' button</p>

<h2>List of analyses</h2>

<!-- Analysis input -->
<form role="form" ng-submit="addAnalysis()">
    <div class="row">
        <div class="input-group">
            <input type="text" ng-model="analysis" placeholder="Analysis's name" class="form-control">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Add">
            </span>
        </div>
    </div>
</form>

<br/>

<!-- Analysis list -->
<p class="form-group" ng-repeat="analysis in analyses">
    <button type="button" class="btn btn-primary" ng-model="analysis">{{analysis}}</button>
</p>